# coding: utf-8

"""
    Recruit Database

    Groups of services that manage the data for the 247Sports recruiting database.<br>                                         Documentation for this silo can be found here:                                         <a target=\"_blank\" href=\"https://atlassian.cbsi.com/confluence/display/TWOSPORTS/RDB+Information\">                                         Recruit Database Documentation</a>  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from recruitR.api_client import ApiClient


class InstitutionRankingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def tfs_institution_rankings(self, sport_key, year, **kwargs):  # noqa: E501
        """Gets a list of institution rankings  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_institution_rankings(sport_key, year, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sport_key: Sport key assoicated with the institution rankings request (required)
        :param int year: year assoicated with the institution rankings request (required)
        :param int institution_key: Institution key assoicated with the institution rankings request - optional
        :param Types ranking_type: Type of Ranking being requested - optional - defaults to Types.Team
        :param str conference_abbreviation: Optional conference to filter by
        :param bool use_composite: determines whether to use composite criteria for searches
        :param str institutions: Comma separated list of institutions to return
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: InstitutionRankingDtoPagedResults
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_institution_rankings_with_http_info(sport_key, year, **kwargs)  # noqa: E501
        else:
            (data) = self.tfs_institution_rankings_with_http_info(sport_key, year, **kwargs)  # noqa: E501
            return data

    def tfs_institution_rankings_with_http_info(self, sport_key, year, **kwargs):  # noqa: E501
        """Gets a list of institution rankings  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_institution_rankings_with_http_info(sport_key, year, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sport_key: Sport key assoicated with the institution rankings request (required)
        :param int year: year assoicated with the institution rankings request (required)
        :param int institution_key: Institution key assoicated with the institution rankings request - optional
        :param Types ranking_type: Type of Ranking being requested - optional - defaults to Types.Team
        :param str conference_abbreviation: Optional conference to filter by
        :param bool use_composite: determines whether to use composite criteria for searches
        :param str institutions: Comma separated list of institutions to return
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: InstitutionRankingDtoPagedResults
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sport_key', 'year', 'institution_key', 'ranking_type', 'conference_abbreviation', 'use_composite', 'institutions', 'pagesize', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_institution_rankings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sport_key' is set
        if ('sport_key' not in params or
                params['sport_key'] is None):
            raise ValueError("Missing the required parameter `sport_key` when calling `tfs_institution_rankings`")  # noqa: E501
        # verify the required parameter 'year' is set
        if ('year' not in params or
                params['year'] is None):
            raise ValueError("Missing the required parameter `year` when calling `tfs_institution_rankings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sport_key' in params:
            path_params['sportKey'] = params['sport_key']  # noqa: E501
        if 'year' in params:
            path_params['year'] = params['year']  # noqa: E501

        query_params = []
        if 'institution_key' in params:
            query_params.append(('institutionKey', params['institution_key']))  # noqa: E501
        if 'ranking_type' in params:
            query_params.append(('rankingType', params['ranking_type']))  # noqa: E501
        if 'conference_abbreviation' in params:
            query_params.append(('conferenceAbbreviation', params['conference_abbreviation']))  # noqa: E501
        if 'use_composite' in params:
            query_params.append(('useComposite', params['use_composite']))  # noqa: E501
        if 'institutions' in params:
            query_params.append(('institutions', params['institutions']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/rankings/{sportKey}/{year}/institutionrankings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InstitutionRankingDtoPagedResults',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
