# # coding: utf-8

# """
#     Recruit Database

#     Groups of services that manage the data for the 247Sports recruiting database.<br>                                         Documentation for this silo can be found here:                                         <a target=\"_blank\" href=\"https://atlassian.cbsi.com/confluence/display/TWOSPORTS/RDB+Information\">                                         Recruit Database Documentation</a>  # noqa: E501

#     OpenAPI spec version: v1
    
#     Generated by: https://github.com/swagger-api/swagger-codegen.git
# """

# from __future__ import absolute_import

# import re  # noqa: F401

# # python 2 and python 3 compatibility library
# import six

# from recruitR.api_client import ApiClient


# class PlayerSportApi(object):
#     """NOTE: This class is auto generated by the swagger code generator program.

#     Do not edit the class manually.
#     Ref: https://github.com/swagger-api/swagger-codegen
#     """

#     def __init__(self, api_client=None):
#         if api_client is None:
#             api_client = ApiClient()
#         self.api_client = api_client

#     def tfs_player_sportsplayer_sport_key(self, player_sport_key, **kwargs):  # noqa: E501
#         """Updates a PlayerSport  # noqa: E501

#         This method makes a synchronous HTTP request by default. To make an
#         asynchronous HTTP request, please pass async_req=True
#         >>> thread = api.tfs_player_sportsplayer_sport_key(player_sport_key, async_req=True)
#         >>> result = thread.get()

#         :param async_req bool
#         :param int player_sport_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.PlayerSport to lookup (required)
#         :param PlayerSportDto body: SkyNet.Api.Rdb.DTOs.PlayerSportDto
#         :return: None
#                  If the method is called asynchronously,
#                  returns the request thread.
#         """
#         kwargs['_return_http_data_only'] = True
#         if kwargs.get('async_req'):
#             return self.tfs_player_sportsplayer_sport_key_with_http_info(player_sport_key, **kwargs)  # noqa: E501
#         else:
#             (data) = self.tfs_player_sportsplayer_sport_key_with_http_info(player_sport_key, **kwargs)  # noqa: E501
#             return data

#     def tfs_player_sportsplayer_sport_key_with_http_info(self, player_sport_key, **kwargs):  # noqa: E501
#         """Updates a PlayerSport  # noqa: E501

#         This method makes a synchronous HTTP request by default. To make an
#         asynchronous HTTP request, please pass async_req=True
#         >>> thread = api.tfs_player_sportsplayer_sport_key_with_http_info(player_sport_key, async_req=True)
#         >>> result = thread.get()

#         :param async_req bool
#         :param int player_sport_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.PlayerSport to lookup (required)
#         :param PlayerSportDto body: SkyNet.Api.Rdb.DTOs.PlayerSportDto
#         :return: None
#                  If the method is called asynchronously,
#                  returns the request thread.
#         """

#         all_params = ['player_sport_key', 'body']  # noqa: E501
#         all_params.append('async_req')
#         all_params.append('_return_http_data_only')
#         all_params.append('_preload_content')
#         all_params.append('_request_timeout')

#         params = locals()
#         for key, val in six.iteritems(params['kwargs']):
#             if key not in all_params:
#                 raise TypeError(
#                     "Got an unexpected keyword argument '%s'"
#                     " to method tfs_player_sportsplayer_sport_key" % key
#                 )
#             params[key] = val
#         del params['kwargs']
#         # verify the required parameter 'player_sport_key' is set
#         if ('player_sport_key' not in params or
#                 params['player_sport_key'] is None):
#             raise ValueError("Missing the required parameter `player_sport_key` when calling `tfs_player_sportsplayer_sport_key`")  # noqa: E501

#         collection_formats = {}

#         path_params = {}
#         if 'player_sport_key' in params:
#             path_params['playerSportKey'] = params['player_sport_key']  # noqa: E501

#         query_params = []

#         header_params = {}

#         form_params = []
#         local_var_files = {}

#         body_params = None
#         if 'body' in params:
#             body_params = params['body']
#         # HTTP header `Content-Type`
#         header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
#             ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

#         # Authentication setting
#         auth_settings = ['bearer']  # noqa: E501

#         return self.api_client.call_api(
#             '/rdb/v1/playerSports/{playerSportKey}', 'PATCH',
#             path_params,
#             query_params,
#             header_params,
#             body=body_params,
#             post_params=form_params,
#             files=local_var_files,
#             response_type=None,  # noqa: E501
#             auth_settings=auth_settings,
#             async_req=params.get('async_req'),
#             _return_http_data_only=params.get('_return_http_data_only'),
#             _preload_content=params.get('_preload_content', True),
#             _request_timeout=params.get('_request_timeout'),
#             collection_formats=collection_formats)
