# coding: utf-8

"""
    Recruit Database

    Groups of services that manage the data for the 247Sports recruiting database.<br>                                         Documentation for this silo can be found here:                                         <a target=\"_blank\" href=\"https://atlassian.cbsi.com/confluence/display/TWOSPORTS/RDB+Information\">                                         Recruit Database Documentation</a>  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from recruitR.api_client import ApiClient


class PlayerSportRankingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def tfs_player_sport_rankings(self, **kwargs):  # noqa: E501
        """Gets the unplished recruit rankings  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_player_sport_rankings(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str state_abbreviation: The state abbreviation filter
        :param str position_abbreviation: The position abbreviation filter
        :param int ranking_key: The ranking key filter
        :param int year: The year filter
        :param str sport: The sport filter
        :param InstitutionGroup institution_group: The institution group filter
        :param int player_sport_rating:
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_player_sport_rankings_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.tfs_player_sport_rankings_with_http_info(**kwargs)  # noqa: E501
            return data

    def tfs_player_sport_rankings_with_http_info(self, **kwargs):  # noqa: E501
        """Gets the unplished recruit rankings  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_player_sport_rankings_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str state_abbreviation: The state abbreviation filter
        :param str position_abbreviation: The position abbreviation filter
        :param int ranking_key: The ranking key filter
        :param int year: The year filter
        :param str sport: The sport filter
        :param InstitutionGroup institution_group: The institution group filter
        :param int player_sport_rating:
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state_abbreviation', 'position_abbreviation', 'ranking_key', 'year', 'sport', 'institution_group', 'player_sport_rating', 'pagesize', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_player_sport_rankings" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'state_abbreviation' in params:
            query_params.append(('stateAbbreviation', params['state_abbreviation']))  # noqa: E501
        if 'position_abbreviation' in params:
            query_params.append(('positionAbbreviation', params['position_abbreviation']))  # noqa: E501
        if 'ranking_key' in params:
            query_params.append(('rankingKey', params['ranking_key']))  # noqa: E501
        if 'year' in params:
            query_params.append(('year', params['year']))  # noqa: E501
        if 'sport' in params:
            query_params.append(('sport', params['sport']))  # noqa: E501
        if 'institution_group' in params:
            query_params.append(('institutionGroup', params['institution_group']))  # noqa: E501
        if 'player_sport_rating' in params:
            query_params.append(('playerSportRating', params['player_sport_rating']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/playerSportRankings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[NormalizedPlayerRanking]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)


    def tfs_rankingsranking_keybiggest_movers(self, ranking_key, **kwargs):  # noqa: E501
        """Gets the recruits with the biggest ranking changes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_rankingsranking_keybiggest_movers(ranking_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ranking_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.Ranking to lookup (required)
        :param int page_size: the number of recruits to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_rankingsranking_keybiggest_movers_with_http_info(ranking_key, **kwargs)  # noqa: E501
        else:
            (data) = self.tfs_rankingsranking_keybiggest_movers_with_http_info(ranking_key, **kwargs)  # noqa: E501
            return data

    def tfs_rankingsranking_keybiggest_movers_with_http_info(self, ranking_key, **kwargs):  # noqa: E501
        """Gets the recruits with the biggest ranking changes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_rankingsranking_keybiggest_movers_with_http_info(ranking_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ranking_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.Ranking to lookup (required)
        :param int page_size: the number of recruits to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ranking_key', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_rankingsranking_keybiggest_movers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ranking_key' is set
        if ('ranking_key' not in params or
                params['ranking_key'] is None):
            raise ValueError("Missing the required parameter `ranking_key` when calling `tfs_rankingsranking_keybiggest_movers`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ranking_key' in params:
            path_params['rankingKey'] = params['ranking_key']  # noqa: E501

        query_params = []
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/rankings/{rankingKey}/biggestMovers', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[NormalizedPlayerRanking]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def tfs_rankingsranking_keyplayer_sports_under_special_evaluation(self, ranking_key, **kwargs):  # noqa: E501
        """Gets the recruits under special evaluation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_rankingsranking_keyplayer_sports_under_special_evaluation(ranking_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ranking_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.Ranking to lookup (required)
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_rankingsranking_keyplayer_sports_under_special_evaluation_with_http_info(ranking_key, **kwargs)  # noqa: E501
        else:
            (data) = self.tfs_rankingsranking_keyplayer_sports_under_special_evaluation_with_http_info(ranking_key, **kwargs)  # noqa: E501
            return data

    def tfs_rankingsranking_keyplayer_sports_under_special_evaluation_with_http_info(self, ranking_key, **kwargs):  # noqa: E501
        """Gets the recruits under special evaluation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_rankingsranking_keyplayer_sports_under_special_evaluation_with_http_info(ranking_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ranking_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.Ranking to lookup (required)
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ranking_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_rankingsranking_keyplayer_sports_under_special_evaluation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ranking_key' is set
        if ('ranking_key' not in params or
                params['ranking_key'] is None):
            raise ValueError("Missing the required parameter `ranking_key` when calling `tfs_rankingsranking_keyplayer_sports_under_special_evaluation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ranking_key' in params:
            path_params['rankingKey'] = params['ranking_key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/rankings/{rankingKey}/playerSportsUnderSpecialEvaluation', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[NormalizedPlayerRanking]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def tfs_transfer_player_sport_rankings(self, **kwargs):  # noqa: E501
        """Gets the unplished recruit rankings  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_transfer_player_sport_rankings(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str state_abbreviation: The state abbreviation filter
        :param str position_abbreviation: The position abbreviation filter
        :param int ranking_key: The ranking key filter
        :param int year: The year filter
        :param str sport: The sport filter
        :param InstitutionGroup institution_group: The institution group filter
        :param int player_sport_rating:
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_transfer_player_sport_rankings_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.tfs_transfer_player_sport_rankings_with_http_info(**kwargs)  # noqa: E501
            return data

    def tfs_transfer_player_sport_rankings_with_http_info(self, **kwargs):  # noqa: E501
        """Gets the unplished recruit rankings  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_transfer_player_sport_rankings_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str state_abbreviation: The state abbreviation filter
        :param str position_abbreviation: The position abbreviation filter
        :param int ranking_key: The ranking key filter
        :param int year: The year filter
        :param str sport: The sport filter
        :param InstitutionGroup institution_group: The institution group filter
        :param int player_sport_rating:
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state_abbreviation', 'position_abbreviation', 'ranking_key', 'year', 'sport', 'institution_group', 'player_sport_rating', 'pagesize', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_transfer_player_sport_rankings" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'state_abbreviation' in params:
            query_params.append(('stateAbbreviation', params['state_abbreviation']))  # noqa: E501
        if 'position_abbreviation' in params:
            query_params.append(('positionAbbreviation', params['position_abbreviation']))  # noqa: E501
        if 'ranking_key' in params:
            query_params.append(('rankingKey', params['ranking_key']))  # noqa: E501
        if 'year' in params:
            query_params.append(('year', params['year']))  # noqa: E501
        if 'sport' in params:
            query_params.append(('sport', params['sport']))  # noqa: E501
        if 'institution_group' in params:
            query_params.append(('institutionGroup', params['institution_group']))  # noqa: E501
        if 'player_sport_rating' in params:
            query_params.append(('playerSportRating', params['player_sport_rating']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/transferPlayerSportRankings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[NormalizedPlayerRanking]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def tfs_unranked_recruits(self, **kwargs):  # noqa: E501
        """Gets the unranked recruits  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_unranked_recruits(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str state_abbreviation: The state abbreviation filter
        :param str position_abbreviation: The position abbreviation filter
        :param int ranking_key: The ranking key filter
        :param int year: The year filter
        :param str sport: The sport filter
        :param InstitutionGroup institution_group: The institution group filter
        :param int player_sport_rating:
        :param UnrankedRecruitListTypes list_type: Optional list type filter
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_unranked_recruits_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.tfs_unranked_recruits_with_http_info(**kwargs)  # noqa: E501
            return data

    def tfs_unranked_recruits_with_http_info(self, **kwargs):  # noqa: E501
        """Gets the unranked recruits  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_unranked_recruits_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str state_abbreviation: The state abbreviation filter
        :param str position_abbreviation: The position abbreviation filter
        :param int ranking_key: The ranking key filter
        :param int year: The year filter
        :param str sport: The sport filter
        :param InstitutionGroup institution_group: The institution group filter
        :param int player_sport_rating:
        :param UnrankedRecruitListTypes list_type: Optional list type filter
        :param int pagesize: Number of results to return
        :param int page: Which page of results to return
        :return: list[NormalizedPlayerRanking]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state_abbreviation', 'position_abbreviation', 'ranking_key', 'year', 'sport', 'institution_group', 'player_sport_rating', 'list_type', 'pagesize', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_unranked_recruits" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'state_abbreviation' in params:
            query_params.append(('stateAbbreviation', params['state_abbreviation']))  # noqa: E501
        if 'position_abbreviation' in params:
            query_params.append(('positionAbbreviation', params['position_abbreviation']))  # noqa: E501
        if 'ranking_key' in params:
            query_params.append(('rankingKey', params['ranking_key']))  # noqa: E501
        if 'year' in params:
            query_params.append(('year', params['year']))  # noqa: E501
        if 'sport' in params:
            query_params.append(('sport', params['sport']))  # noqa: E501
        if 'institution_group' in params:
            query_params.append(('institutionGroup', params['institution_group']))  # noqa: E501
        if 'player_sport_rating' in params:
            query_params.append(('playerSportRating', params['player_sport_rating']))  # noqa: E501
        if 'list_type' in params:
            query_params.append(('listType', params['list_type']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/unrankedRecruits', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[NormalizedPlayerRanking]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    # def tfs_player_sport_rankings_0(self, **kwargs):  # noqa: E501
    #     """Creates a PlayerSportRanking  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankings_0(async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param PlayerSportRankingDto body: SkyNet.Api.Rdb.DTOs.PlayerSportRankingDto
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """
    #     kwargs['_return_http_data_only'] = True
    #     if kwargs.get('async_req'):
    #         return self.tfs_player_sport_rankings_0_with_http_info(**kwargs)  # noqa: E501
    #     else:
    #         (data) = self.tfs_player_sport_rankings_0_with_http_info(**kwargs)  # noqa: E501
    #         return data

    # def tfs_player_sport_rankings_0_with_http_info(self, **kwargs):  # noqa: E501
    #     """Creates a PlayerSportRanking  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankings_0_with_http_info(async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param PlayerSportRankingDto body: SkyNet.Api.Rdb.DTOs.PlayerSportRankingDto
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """

    #     all_params = ['body']  # noqa: E501
    #     all_params.append('async_req')
    #     all_params.append('_return_http_data_only')
    #     all_params.append('_preload_content')
    #     all_params.append('_request_timeout')

    #     params = locals()
    #     for key, val in six.iteritems(params['kwargs']):
    #         if key not in all_params:
    #             raise TypeError(
    #                 "Got an unexpected keyword argument '%s'"
    #                 " to method tfs_player_sport_rankings_0" % key
    #             )
    #         params[key] = val
    #     del params['kwargs']

    #     collection_formats = {}

    #     path_params = {}

    #     query_params = []

    #     header_params = {}

    #     form_params = []
    #     local_var_files = {}

    #     body_params = None
    #     if 'body' in params:
    #         body_params = params['body']
    #     # HTTP header `Content-Type`
    #     header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
    #         ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

    #     # Authentication setting
    #     auth_settings = ['bearer']  # noqa: E501

    #     return self.api_client.call_api(
    #         '/rdb/v1/playerSportRankings', 'POST',
    #         path_params,
    #         query_params,
    #         header_params,
    #         body=body_params,
    #         post_params=form_params,
    #         files=local_var_files,
    #         response_type=None,  # noqa: E501
    #         auth_settings=auth_settings,
    #         async_req=params.get('async_req'),
    #         _return_http_data_only=params.get('_return_http_data_only'),
    #         _preload_content=params.get('_preload_content', True),
    #         _request_timeout=params.get('_request_timeout'),
    #         collection_formats=collection_formats)

    # def tfs_player_sport_rankings_1(self, **kwargs):  # noqa: E501
    #     """Deletes a PlayerSportRanking  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankings_1(async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param KeyDto body: Ipa.Api.DTOs.KeyDto
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """
    #     kwargs['_return_http_data_only'] = True
    #     if kwargs.get('async_req'):
    #         return self.tfs_player_sport_rankings_1_with_http_info(**kwargs)  # noqa: E501
    #     else:
    #         (data) = self.tfs_player_sport_rankings_1_with_http_info(**kwargs)  # noqa: E501
    #         return data

    # def tfs_player_sport_rankings_1_with_http_info(self, **kwargs):  # noqa: E501
    #     """Deletes a PlayerSportRanking  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankings_1_with_http_info(async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param KeyDto body: Ipa.Api.DTOs.KeyDto
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """

    #     all_params = ['body']  # noqa: E501
    #     all_params.append('async_req')
    #     all_params.append('_return_http_data_only')
    #     all_params.append('_preload_content')
    #     all_params.append('_request_timeout')

    #     params = locals()
    #     for key, val in six.iteritems(params['kwargs']):
    #         if key not in all_params:
    #             raise TypeError(
    #                 "Got an unexpected keyword argument '%s'"
    #                 " to method tfs_player_sport_rankings_1" % key
    #             )
    #         params[key] = val
    #     del params['kwargs']

    #     collection_formats = {}

    #     path_params = {}

    #     query_params = []

    #     header_params = {}

    #     form_params = []
    #     local_var_files = {}

    #     body_params = None
    #     if 'body' in params:
    #         body_params = params['body']
    #     # HTTP header `Content-Type`
    #     header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
    #         ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

    #     # Authentication setting
    #     auth_settings = ['bearer']  # noqa: E501

    #     return self.api_client.call_api(
    #         '/rdb/v1/playerSportRankings', 'DELETE',
    #         path_params,
    #         query_params,
    #         header_params,
    #         body=body_params,
    #         post_params=form_params,
    #         files=local_var_files,
    #         response_type=None,  # noqa: E501
    #         auth_settings=auth_settings,
    #         async_req=params.get('async_req'),
    #         _return_http_data_only=params.get('_return_http_data_only'),
    #         _preload_content=params.get('_preload_content', True),
    #         _request_timeout=params.get('_request_timeout'),
    #         collection_formats=collection_formats)

    # def tfs_player_sport_rankingsplayer_sport_ranking_key(self, player_sport_ranking_key, **kwargs):  # noqa: E501
    #     """Updates a ranking blurb  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankingsplayer_sport_ranking_key(player_sport_ranking_key, async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param int player_sport_ranking_key: (required)
    #     :param PlayerSportRankingDto body:
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """
    #     kwargs['_return_http_data_only'] = True
    #     if kwargs.get('async_req'):
    #         return self.tfs_player_sport_rankingsplayer_sport_ranking_key_with_http_info(player_sport_ranking_key, **kwargs)  # noqa: E501
    #     else:
    #         (data) = self.tfs_player_sport_rankingsplayer_sport_ranking_key_with_http_info(player_sport_ranking_key, **kwargs)  # noqa: E501
    #         return data

    # def tfs_player_sport_rankingsplayer_sport_ranking_key_with_http_info(self, player_sport_ranking_key, **kwargs):  # noqa: E501
    #     """Updates a ranking blurb  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankingsplayer_sport_ranking_key_with_http_info(player_sport_ranking_key, async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param int player_sport_ranking_key: (required)
    #     :param PlayerSportRankingDto body:
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """

    #     all_params = ['player_sport_ranking_key', 'body']  # noqa: E501
    #     all_params.append('async_req')
    #     all_params.append('_return_http_data_only')
    #     all_params.append('_preload_content')
    #     all_params.append('_request_timeout')

    #     params = locals()
    #     for key, val in six.iteritems(params['kwargs']):
    #         if key not in all_params:
    #             raise TypeError(
    #                 "Got an unexpected keyword argument '%s'"
    #                 " to method tfs_player_sport_rankingsplayer_sport_ranking_key" % key
    #             )
    #         params[key] = val
    #     del params['kwargs']
    #     # verify the required parameter 'player_sport_ranking_key' is set
    #     if ('player_sport_ranking_key' not in params or
    #             params['player_sport_ranking_key'] is None):
    #         raise ValueError("Missing the required parameter `player_sport_ranking_key` when calling `tfs_player_sport_rankingsplayer_sport_ranking_key`")  # noqa: E501

    #     collection_formats = {}

    #     path_params = {}
    #     if 'player_sport_ranking_key' in params:
    #         path_params['playerSportRankingKey'] = params['player_sport_ranking_key']  # noqa: E501

    #     query_params = []

    #     header_params = {}

    #     form_params = []
    #     local_var_files = {}

    #     body_params = None
    #     if 'body' in params:
    #         body_params = params['body']
    #     # HTTP header `Content-Type`
    #     header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
    #         ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

    #     # Authentication setting
    #     auth_settings = ['bearer']  # noqa: E501

    #     return self.api_client.call_api(
    #         '/rdb/v1/playerSportRankings/{playerSportRankingKey}', 'PATCH',
    #         path_params,
    #         query_params,
    #         header_params,
    #         body=body_params,
    #         post_params=form_params,
    #         files=local_var_files,
    #         response_type=None,  # noqa: E501
    #         auth_settings=auth_settings,
    #         async_req=params.get('async_req'),
    #         _return_http_data_only=params.get('_return_http_data_only'),
    #         _preload_content=params.get('_preload_content', True),
    #         _request_timeout=params.get('_request_timeout'),
    #         collection_formats=collection_formats)

    # def tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank(self, player_sport_ranking_key, **kwargs):  # noqa: E501
    #     """Adjusts the rank of a PlayerSportRanking  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank(player_sport_ranking_key, async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param int player_sport_ranking_key: The playerSportRanking being updated (required)
    #     :param AdjustRankDto body: SkyNet.Api.Rdb.DTOs.AdjustRankDto
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """
    #     kwargs['_return_http_data_only'] = True
    #     if kwargs.get('async_req'):
    #         return self.tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank_with_http_info(player_sport_ranking_key, **kwargs)  # noqa: E501
    #     else:
    #         (data) = self.tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank_with_http_info(player_sport_ranking_key, **kwargs)  # noqa: E501
    #         return data

    # def tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank_with_http_info(self, player_sport_ranking_key, **kwargs):  # noqa: E501
    #     """Adjusts the rank of a PlayerSportRanking  # noqa: E501

    #     This method makes a synchronous HTTP request by default. To make an
    #     asynchronous HTTP request, please pass async_req=True
    #     >>> thread = api.tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank_with_http_info(player_sport_ranking_key, async_req=True)
    #     >>> result = thread.get()

    #     :param async_req bool
    #     :param int player_sport_ranking_key: The playerSportRanking being updated (required)
    #     :param AdjustRankDto body: SkyNet.Api.Rdb.DTOs.AdjustRankDto
    #     :return: None
    #              If the method is called asynchronously,
    #              returns the request thread.
    #     """

    #     all_params = ['player_sport_ranking_key', 'body']  # noqa: E501
    #     all_params.append('async_req')
    #     all_params.append('_return_http_data_only')
    #     all_params.append('_preload_content')
    #     all_params.append('_request_timeout')

    #     params = locals()
    #     for key, val in six.iteritems(params['kwargs']):
    #         if key not in all_params:
    #             raise TypeError(
    #                 "Got an unexpected keyword argument '%s'"
    #                 " to method tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank" % key
    #             )
    #         params[key] = val
    #     del params['kwargs']
    #     # verify the required parameter 'player_sport_ranking_key' is set
    #     if ('player_sport_ranking_key' not in params or
    #             params['player_sport_ranking_key'] is None):
    #         raise ValueError("Missing the required parameter `player_sport_ranking_key` when calling `tfs_player_sport_rankingsplayer_sport_ranking_keyadjust_rank`")  # noqa: E501

    #     collection_formats = {}

    #     path_params = {}
    #     if 'player_sport_ranking_key' in params:
    #         path_params['playerSportRankingKey'] = params['player_sport_ranking_key']  # noqa: E501

    #     query_params = []

    #     header_params = {}

    #     form_params = []
    #     local_var_files = {}

    #     body_params = None
    #     if 'body' in params:
    #         body_params = params['body']
    #     # HTTP header `Content-Type`
    #     header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
    #         ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

    #     # Authentication setting
    #     auth_settings = ['bearer']  # noqa: E501

    #     return self.api_client.call_api(
    #         '/rdb/v1/playerSportRankings/{playerSportRankingKey}/adjustRank', 'PATCH',
    #         path_params,
    #         query_params,
    #         header_params,
    #         body=body_params,
    #         post_params=form_params,
    #         files=local_var_files,
    #         response_type=None,  # noqa: E501
    #         auth_settings=auth_settings,
    #         async_req=params.get('async_req'),
    #         _return_http_data_only=params.get('_return_http_data_only'),
    #         _preload_content=params.get('_preload_content', True),
    #         _request_timeout=params.get('_request_timeout'),
    #         collection_formats=collection_formats)