# coding: utf-8

"""
    Recruit Database

    Groups of services that manage the data for the 247Sports recruiting database.<br>                                         Documentation for this silo can be found here:                                         <a target=\"_blank\" href=\"https://atlassian.cbsi.com/confluence/display/TWOSPORTS/RDB+Information\">                                         Recruit Database Documentation</a>  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PlayerInstitutionPredictionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def tfs_site_current_target_predictions(self, site_key, year, sport_key, **kwargs):  # noqa: E501
        """Retrieves current target predictions for a given site  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_site_current_target_predictions(site_key, year, sport_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int site_key: The Key of the Ipa.DataAccess.MySql.Objects.Main.Site to lookup (required)
        :param int year: The year to lookup (required)
        :param int sport_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.Sport to lookup (required)
        :param int page: The page of results to lookup
        :param int page_size: The number of items to return in the page
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_site_current_target_predictions_with_http_info(site_key, year, sport_key, **kwargs)  # noqa: E501
        else:
            (data) = self.tfs_site_current_target_predictions_with_http_info(site_key, year, sport_key, **kwargs)  # noqa: E501
            return data

    def tfs_site_current_target_predictions_with_http_info(self, site_key, year, sport_key, **kwargs):  # noqa: E501
        """Retrieves current target predictions for a given site  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_site_current_target_predictions_with_http_info(site_key, year, sport_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int site_key: The Key of the Ipa.DataAccess.MySql.Objects.Main.Site to lookup (required)
        :param int year: The year to lookup (required)
        :param int sport_key: The Key of the Ipa.DataAccess.MySql.Objects.Rdb.Sport to lookup (required)
        :param int page: The page of results to lookup
        :param int page_size: The number of items to return in the page
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['site_key', 'year', 'sport_key', 'page', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_site_current_target_predictions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'site_key' is set
        if ('site_key' not in params or
                params['site_key'] is None):
            raise ValueError("Missing the required parameter `site_key` when calling `tfs_site_current_target_predictions`")  # noqa: E501
        # verify the required parameter 'year' is set
        if ('year' not in params or
                params['year'] is None):
            raise ValueError("Missing the required parameter `year` when calling `tfs_site_current_target_predictions`")  # noqa: E501
        # verify the required parameter 'sport_key' is set
        if ('sport_key' not in params or
                params['sport_key'] is None):
            raise ValueError("Missing the required parameter `sport_key` when calling `tfs_site_current_target_predictions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'site_key' in params:
            path_params['siteKey'] = params['site_key']  # noqa: E501
        if 'year' in params:
            path_params['year'] = params['year']  # noqa: E501
        if 'sport_key' in params:
            path_params['sportKey'] = params['sport_key']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/sites/{siteKey}/years/{year}/sports/{sportKey}/currentTargetPredictions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
