# coding: utf-8

"""
    Recruit Database

    Groups of services that manage the data for the 247Sports recruiting database.<br>                                         Documentation for this silo can be found here:                                         <a target=\"_blank\" href=\"https://atlassian.cbsi.com/confluence/display/TWOSPORTS/RDB+Information\">                                         Recruit Database Documentation</a>  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from recruitR.api_client import ApiClient


class SportApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def tfs_sports(self, **kwargs):  # noqa: E501
        """Returns sports from Sports table  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_sports(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ranking_key:
        :return: list[SportBaseRankingDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_sports_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.tfs_sports_with_http_info(**kwargs)  # noqa: E501
            return data

    def tfs_sports_with_http_info(self, **kwargs):  # noqa: E501
        """Returns sports from Sports table  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_sports_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ranking_key:
        :return: list[SportBaseRankingDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ranking_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_sports" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ranking_key' in params:
            query_params.append(('rankingKey', params['ranking_key']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/sports', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SportBaseRankingDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def tfs_sports_years(self, sport_key, **kwargs):  # noqa: E501
        """Returns either all years for which we have data for a given sport.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_sports_years(sport_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sport_key: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tfs_sports_years_with_http_info(sport_key, **kwargs)  # noqa: E501
        else:
            (data) = self.tfs_sports_years_with_http_info(sport_key, **kwargs)  # noqa: E501
            return data

    def tfs_sports_years_with_http_info(self, sport_key, **kwargs):  # noqa: E501
        """Returns either all years for which we have data for a given sport.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tfs_sports_years_with_http_info(sport_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int sport_key: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sport_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tfs_sports_years" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sport_key' is set
        if ('sport_key' not in params or
                params['sport_key'] is None):
            raise ValueError("Missing the required parameter `sport_key` when calling `tfs_sports_years`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sport_key' in params:
            path_params['sportKey'] = params['sport_key']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['bearer']  # noqa: E501

        return self.api_client.call_api(
            '/rdb/v1/sports/{sportKey}/year', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
